In [1]:
import pandas as pd
from datetime import datetime, time
import locale

# Trabajo sobre fichadas del Primer Piso

## Descarga y trabajo sobre el archivo descargado

1. Descargo el archivo desde el sistema de fichadas. 
2. Una vez descargado entro a "Guardar como" y lo guardo en la misma carpeta que este archivo. 
3. **MUY IMPORTANTE**, que cuando se esté por guardar hay que cambiarle el formato de guardado y ponerlo como CSV (delimitado por comas).

**Nota: Guardar siempre en la misma carpeta que el archivo y que el archivo este en formato en CSV**

El archivo .csv podría estar "roto". Abrir el archivo haciendo doble clic en la barra lateral de la izquierda y cambiar los � por lo que corresponda.

 - Mar�a Jos� cambiar a María José
 - Sebasti� n cambiar a Sebastián
 - D�a cambiar a Día

 Suelen ser siempre estos. Usar **ctrl+H** que es "reemplazar" y reemplazo todos.

## Trabajo automático

Solo dar importancia al texto. En el código en "verde" son solo comentarios de que se va haciendo a través de cada paso.

Para correr el código se debe apretar arriba el botón **"Run All"**. Al finalizar se descargarán muchos archivos de Excel por el reporte a cada sector y un archivo general.

1) Dentro de las comillas el formato es "./nombredelarchivo.csv". Acá solo se debería cambiar el nombre del archivo. Se puede borrar el nombre del archivo y dejar solo "./" y apretar la barra espaciadora donde se muestran los archivos a los que hay acceso y se puede eligir desde ahi para evitar errores al escribir.

In [2]:
fichadas = pd.read_csv("./fichadas_jun.csv", delimiter=";") #Traigo el archivo csv.
fichadas #Acá se muestra el archivo original.

,Nro.,ID de Usuario,Nombre de Usuario,Nro. de Tarjeta,Día,Hora,Entrada/Salida,Puerta
0,1,140,roquelina santos,0,07/22/2023,19:55:08,Entrada,1
1,2,140,roquelina santos,0,07/22/2023,19:55:01,Entrada,1
2,3,16,Florencia Romerstein,0,07/22/2023,19:14:12,Entrada,1
3,4,163,andryel luiz,0,07/22/2023,19:10:02,Entrada,1
4,5,155,natalia ruiz,0,07/22/2023,19:07:48,Entrada,1
...,...,...,...,...,...,...,...,...
3268,3269,175,ismael estivill,0,06/23/2023,06:43:56,Entrada,1
3269,3270,30,Rosario,0,06/23/2023,06:24:33,Entrada,1
3270,3271,39,Alexander.Dueñas,0,06/23/2023,06:11:23,Entrada,1
3271,3272,39,Alexander.Dueñas,0,06/23/2023,06:08:33,Entrada,1
3272,3273,136,carlos ibarra,0,06/23/2023,02:35:50,Entrada,1

In [3]:
fichadas["Día"] = pd.to_datetime(fichadas["Día"]) #Convierto la columna "Día" a formato fecha

In [4]:
fecha = fichadas["Día"].dropna().unique() #Traigo todos los valores de la columna "Día", borro los vacíos y traigo los valores únicos. Deberia ser todo el mes.
#fecha #Si borro el # adelante de fecha deberia poder ver todos los dias del mes

Creo una fórmula para ser utilizada despues donde se especifica lo siguiente:

- Si el horario está entre 22:00:00 y 23:59:59 traer el menor de esos.
- Si el horario no está dentro de este rango traigo el mínimo.

In [5]:
def horario(series):
    if any(time(22, 0, 0) <= dt.time() <= time(23,59,59) for dt in series):
        return series.max()
    else:
        return series.min()
    
fichadas["Hora"] = pd.to_datetime(fichadas["Hora"])

C:\Users\lbustos\AppData\Local\Temp\ipykernel_10860\3286286590.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fichadas["Hora"] = pd.to_datetime(fichadas["Hora"])

Creo la fichada final en base a la principal donde el indice será "Nombre de Usuario", las columnas todos los valores de la columna original "Día" (es decir todos los días). Los valores serán los horarios mas tempranos por "Nombre de Usuario" en cada "Día".

In [6]:
fichadas_final = fichadas.pivot_table(index="Nombre de Usuario", columns="Día", values="Hora", aggfunc=horario)
fichadas_final

Día,2023-06-23,2023-06-24,2023-06-25,2023-06-26,2023-06-27,2023-06-28,2023-06-29,2023-06-30,2023-07-01,2023-07-02,...,2023-07-13,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22
Nombre de Usuario,,,,,,,,,,,,,,,,,,,,,
ALVES TEIXEIRA DAVI,2023-07-26 14:58:03,NaT,NaT,2023-07-26 15:01:51,2023-07-26 14:53:34,2023-07-26 14:52:38,2023-07-26 14:57:25,2023-07-26 15:15:04,NaT,NaT,...,2023-07-26 15:08:36,2023-07-26 15:02:12,NaT,NaT,2023-07-26 15:05:05,2023-07-26 15:01:01,2023-07-26 15:03:57,2023-07-26 23:18:28,2023-07-26 14:57:04,NaT
Alessandra de Castro,2023-07-26 09:19:34,NaT,NaT,2023-07-26 09:24:48,2023-07-26 09:17:16,2023-07-26 09:15:52,2023-07-26 09:43:00,2023-07-26 09:33:28,NaT,NaT,...,2023-07-26 09:39:15,2023-07-26 09:29:00,NaT,NaT,NaT,2023-07-26 09:26:43,2023-07-26 09:11:56,2023-07-26 09:49:03,2023-07-26 09:12:54,NaT
Alexander.Dueñas,2023-07-26 06:08:33,NaT,NaT,2023-07-26 06:22:45,2023-07-26 05:54:54,2023-07-26 07:26:48,2023-07-26 06:07:14,2023-07-26 06:00:35,NaT,NaT,...,2023-07-26 06:16:48,2023-07-26 06:13:33,2023-07-26 06:12:37,NaT,2023-07-26 06:57:06,NaT,2023-07-26 06:05:07,NaT,2023-07-26 06:02:49,NaT
Andrea Gargiulo,NaT,NaT,NaT,NaT,2023-07-26 14:27:42,NaT,NaT,2023-07-26 14:53:42,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,2023-07-26 14:44:21,NaT,NaT
Anibal Garaventa,NaT,2023-07-26 07:17:01,2023-07-26 07:09:12,NaT,NaT,NaT,NaT,NaT,2023-07-26 07:23:33,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
roquelina santos,NaT,2023-07-26 20:00:29,2023-07-26 20:01:08,NaT,NaT,NaT,NaT,NaT,2023-07-26 19:58:24,2023-07-26 19:57:47,...,NaT,NaT,2023-07-26 23:57:08,2023-07-26 20:06:08,2023-07-26 09:08:24,NaT,NaT,NaT,NaT,2023-07-26 19:55:01
sabrina sousa,2023-07-26 14:57:31,NaT,NaT,2023-07-26 22:17:46,2023-07-26 14:49:54,2023-07-26 14:44:23,2023-07-26 12:11:22,NaT,NaT,NaT,...,2023-07-26 15:14:47,2023-07-26 14:49:37,NaT,NaT,NaT,2023-07-26 14:58:14,2023-07-26 14:56:06,2023-07-26 14:55:28,2023-07-26 14:46:56,NaT
sofia teixeira,NaT,NaT,2023-07-26 06:59:50,2023-07-26 07:54:02,2023-07-26 07:05:47,2023-07-26 06:59:35,2023-07-26 07:03:15,NaT,NaT,2023-07-26 07:01:25,...,NaT,NaT,NaT,2023-07-26 07:14:37,2023-07-26 06:48:06,2023-07-26 06:54:41,2023-07-26 07:56:37,2023-07-26 05:58:11,NaT,NaT
thassia da silva,2023-07-26 22:38:17,NaT,NaT,2023-07-26 22:25:20,2023-07-26 22:13:08,2023-07-26 22:46:58,2023-07-26 22:27:59,2023-07-26 23:20:12,NaT,NaT,...,2023-07-26 22:33:55,NaT,NaT,NaT,2023-07-26 22:41:59,2023-07-26 23:06:17,2023-07-26 22:46:05,2023-07-26 23:36:45,2023-07-26 23:20:05,NaT
thaynara medeiros,2023-07-26 14:59:33,2023-07-26 18:50:23,2023-07-26 18:48:59,2023-07-26 14:58:16,2023-07-26 15:03:27,2023-07-26 15:00:50,2023-07-26 15:09:29,2023-07-26 14:19:58,2023-07-26 18:41:38,2023-07-26 18:50:38,...,2023-07-26 15:01:32,2023-07-26 15:04:38,NaT,2023-07-26 18:55:37,2023-07-26 14:56:05,2023-07-26 15:03:39,2023-07-26 14:58:32,2023-07-26 14:59:42,2023-07-26 14:59:57,2023-07-26 18:55:59

Acá traigo las listas del personal por sector. Estar atento a ingreso de personal nuevo o personal que se va. Avisar asi vamos actualizando este listado.

En comentarios (#) están el personal por sector que no tiene código arriba.

In [7]:
account = ["María José Valle",
           "Rodrigo Fontan", 
           "Alessandra de Castro"]

analytics = ["florencia roselli", 
             "Juan Sebastián Gentini"]

bdx = ["alana dos santos", 
       "Ayelen Rodriguez",
       "elian callejas",
       "Karen Carpio",
       "Martin Avolio",
       "Melanie Lucero",        
       "Paula Corominas"]

billing = ["Melody Lopez"]

claims = ["Federico Baz", 
          "jimena rivera",
          "maria mercedes serkin",
          "micaela lotz"] #GALATEA LANZA

claims_neg = ["Matias Scarso"]

comercial = ["barbara perez", 
             "Ignacio Marquez"]

office = ["Carolina Ledesma", 
          "Clara Di Salvo",
          "daniela gallardo",
          "elena gomez",
          "laura colman",
          "lautaro bustos",
          "mariana gatti",
          "nestor stark",
          "Rosario"]

pagos = ["candela scheiner",
        "Eduardo Daglio",
        "gonzalo fernandez bonilla",
         "laura rende"]

reimbursement = ["Andrea Gargiulo",
                 "Barbara Benvindo",
                 "cintia topalian",
                 "Gabriela Carvalho",
                 "Leila Bermudez",
                 "Lorna Vega",
                 "mariana rios",
                 "mayara borges",
                 "Romina Mariel Lazzaroni",
                 "Sophia Ariganello"]

In [8]:
front = ["Gabriel Della Bella",
         "Ivana Villagra",
         "Viviana Garramone",
         "Valentina Ruiz",
         "ALVES TEIXEIRA DAVI",
         "bruno batista",
         "Camila de Assis",
         "angelica carpi",
         "matias castellano",
         "danilo cavassim",
         "rafael charrier",
         "iucara cordeiro",
         "lorrana costa",
         "cristiane dos anjos",
         "elisangela cunha",
         "mayara da costa",
         "miguel fonseca",
         "guilherme da mata",
         "mylena da silva",
         "emilly da silva",
         "Camila.DosSantos",
         "Alexander.Dueñas",
         "ismael estivill",
         "marcio evangelista",
         "facundo borgnis",
         "luana fernandes",
         "adriel ferreyra",
         "gabrielle ferreira",
         "andrea flanagan",
         "juan pablo fontan",
         "angel gamez",
         "franco gandara",
         "Maximo Gandara",
         "Anibal Garaventa",
         "Anna Godoy",
         "adelina goncalves",
         "Renato Gongo",
         "Fernando Gonzalez",
         "Martin Gonzalez",
         "maylu guerrero",
         "delfina hobert",
         "carlos ibarra",
         "laura larriel",
         "leticia roque",
         "Eliangel Lobo",
         "micaela lopez",
         "julian lopez",
         "dara marques",
         "angel martinez",
         "leandro martinez",
         "Sinai Martinez",
         "Ivan Martino",
         "Nicolas Martino",
         "ma eduarda martins",
         "Matheus Sabino Faria",
         "thaynara medeiros",
         "gisela medina",
         "agostina onorati",
         "Esthefania Oropeza",
         "mariano pisani",
         "elica porto",
         "Daniela Quiroga",
         "akla ramos",
         "Pedro Rangel",
         "felip rodrigues",
         "Florencia Romerstein",
         "gustavo rosillo",
         "natalia ruiz",
         "roquelina santos",
         "guido semoni",
         "roberto silva",
         "sofia teixeira",
         "sabrina sousa",
         "andryel luiz",
         "rebecca uribe",
         "Legna Vivas"]

Voy recorriendo la fichada final por indice. Si el valor del índice (que sería el nombre) está en algunas de las listas de los sectores que se creó antes, entonces me crea una nueva columna llamada "Sector" por cada fila y le da el valor que le corresponde.

Ejemplo: El primer nombre es "ALVES TEIXEIRA DAVI", va recorriendo lista por lista hasta que coincida el nombre "ALVES TEIXEIRA DAVI" con algún nombre que esté en las listas. En este caso el nombre se encuentra en la lista "front" por lo que a la nueva columna "Sector" se le asignará el valor "Front".

In [9]:
for indice in fichadas_final.index:
    if indice in account:
        fichadas_final.loc[indice, "Sector"] = "Account"
    elif indice in analytics:
        fichadas_final.loc[indice, "Sector"] = "Analytics"
    elif indice in bdx:
        fichadas_final.loc[indice, "Sector"] = "BDX"
    elif indice in billing:
        fichadas_final.loc[indice, "Sector"] = "Billing"
    elif indice in claims:
        fichadas_final.loc[indice, "Sector"] = "Claims"
    elif indice in claims_neg:
        fichadas_final.loc[indice, "Sector"] = "Claims Neg"
    elif indice in comercial:
        fichadas_final.loc[indice, "Sector"] = "Comercial"
    elif indice in front:
        fichadas_final.loc[indice, "Sector"] = "Front"
    elif indice in office:
        fichadas_final.loc[indice, "Sector"] = "Office"
    elif indice in pagos:
        fichadas_final.loc[indice, "Sector"] = "Pagos"
    elif indice in reimbursement:
        fichadas_final.loc[indice, "Sector"] = "Reimbursement"

Este es un ejemplo si vamos filtrando por sectores. En este caso se filtra por la columna "Sector" y que su valor sea "Office". Me debería traer todo el personal que pertenece al sector Office.

In [10]:
fichadas_final[fichadas_final["Sector"] == "Office"]

Día,2023-06-23 00:00:00,2023-06-24 00:00:00,2023-06-25 00:00:00,2023-06-26 00:00:00,2023-06-27 00:00:00,2023-06-28 00:00:00,2023-06-29 00:00:00,2023-06-30 00:00:00,2023-07-01 00:00:00,2023-07-02 00:00:00,...,2023-07-14 00:00:00,2023-07-15 00:00:00,2023-07-16 00:00:00,2023-07-17 00:00:00,2023-07-18 00:00:00,2023-07-19 00:00:00,2023-07-20 00:00:00,2023-07-21 00:00:00,2023-07-22 00:00:00,Sector
Nombre de Usuario,,,,,,,,,,,,,,,,,,,,,
Carolina Ledesma,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Office
Clara Di Salvo,2023-07-26 09:42:58,NaT,NaT,2023-07-26 07:59:11,2023-07-26 11:09:40,NaT,2023-07-26 11:21:11,2023-07-26 16:10:54,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Office
Rosario,2023-07-26 06:24:33,NaT,NaT,2023-07-26 08:02:21,2023-07-26 06:21:58,2023-07-26 06:23:30,2023-07-26 06:52:41,2023-07-26 06:25:13,NaT,NaT,...,2023-07-26 06:24:46,NaT,NaT,2023-07-26 06:24:36,2023-07-26 06:21:25,2023-07-26 08:52:04,2023-07-26 08:02:30,2023-07-26 08:00:16,NaT,Office
daniela gallardo,2023-07-26 13:31:55,NaT,NaT,2023-07-26 09:30:14,2023-07-26 12:54:50,2023-07-26 09:12:23,2023-07-26 09:16:36,2023-07-26 10:13:42,NaT,NaT,...,NaT,NaT,NaT,2023-07-26 10:13:32,2023-07-26 11:59:10,2023-07-26 12:40:07,2023-07-26 09:24:34,2023-07-26 09:15:50,NaT,Office
laura colman,2023-07-26 08:05:21,NaT,NaT,2023-07-26 07:52:40,2023-07-26 08:43:40,2023-07-26 07:59:14,2023-07-26 08:07:48,2023-07-26 08:08:58,NaT,NaT,...,2023-07-26 07:52:38,NaT,NaT,2023-07-26 07:44:01,2023-07-26 13:52:22,2023-07-26 06:44:00,2023-07-26 07:12:49,NaT,NaT,Office
lautaro bustos,NaT,NaT,NaT,2023-07-26 14:13:07,2023-07-26 13:55:33,2023-07-26 13:56:55,2023-07-26 12:57:08,2023-07-26 13:47:10,NaT,NaT,...,NaT,NaT,NaT,NaT,2023-07-26 13:55:00,NaT,NaT,NaT,NaT,Office
mariana gatti,2023-07-26 08:06:27,NaT,NaT,2023-07-26 08:04:02,2023-07-26 08:18:19,NaT,2023-07-26 08:46:30,2023-07-26 10:11:58,NaT,NaT,...,NaT,NaT,NaT,NaT,2023-07-26 08:28:30,2023-07-26 08:35:39,2023-07-26 08:54:00,2023-07-26 09:19:18,NaT,Office
nestor stark,2023-07-26 15:06:32,NaT,NaT,2023-07-26 14:41:02,2023-07-26 14:54:39,2023-07-26 15:01:39,2023-07-26 22:06:39,2023-07-26 16:01:03,NaT,NaT,...,2023-07-26 14:49:33,NaT,NaT,2023-07-26 22:12:21,2023-07-26 13:38:17,2023-07-26 13:39:59,2023-07-26 14:25:44,2023-07-26 22:09:30,NaT,Office

Con el próximo código podemos ver la tabla final y en la última columna aparece "Sector" y el sector correspondiente a cada personal.

In [11]:
fichadas_final.head()

Día,2023-06-23 00:00:00,2023-06-24 00:00:00,2023-06-25 00:00:00,2023-06-26 00:00:00,2023-06-27 00:00:00,2023-06-28 00:00:00,2023-06-29 00:00:00,2023-06-30 00:00:00,2023-07-01 00:00:00,2023-07-02 00:00:00,...,2023-07-14 00:00:00,2023-07-15 00:00:00,2023-07-16 00:00:00,2023-07-17 00:00:00,2023-07-18 00:00:00,2023-07-19 00:00:00,2023-07-20 00:00:00,2023-07-21 00:00:00,2023-07-22 00:00:00,Sector
Nombre de Usuario,,,,,,,,,,,,,,,,,,,,,
ALVES TEIXEIRA DAVI,2023-07-26 14:58:03,NaT,NaT,2023-07-26 15:01:51,2023-07-26 14:53:34,2023-07-26 14:52:38,2023-07-26 14:57:25,2023-07-26 15:15:04,NaT,NaT,...,2023-07-26 15:02:12,NaT,NaT,2023-07-26 15:05:05,2023-07-26 15:01:01,2023-07-26 15:03:57,2023-07-26 23:18:28,2023-07-26 14:57:04,NaT,Front
Alessandra de Castro,2023-07-26 09:19:34,NaT,NaT,2023-07-26 09:24:48,2023-07-26 09:17:16,2023-07-26 09:15:52,2023-07-26 09:43:00,2023-07-26 09:33:28,NaT,NaT,...,2023-07-26 09:29:00,NaT,NaT,NaT,2023-07-26 09:26:43,2023-07-26 09:11:56,2023-07-26 09:49:03,2023-07-26 09:12:54,NaT,Account
Alexander.Dueñas,2023-07-26 06:08:33,NaT,NaT,2023-07-26 06:22:45,2023-07-26 05:54:54,2023-07-26 07:26:48,2023-07-26 06:07:14,2023-07-26 06:00:35,NaT,NaT,...,2023-07-26 06:13:33,2023-07-26 06:12:37,NaT,2023-07-26 06:57:06,NaT,2023-07-26 06:05:07,NaT,2023-07-26 06:02:49,NaT,Front
Andrea Gargiulo,NaT,NaT,NaT,NaT,2023-07-26 14:27:42,NaT,NaT,2023-07-26 14:53:42,NaT,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,2023-07-26 14:44:21,NaT,NaT,Reimbursement
Anibal Garaventa,NaT,2023-07-26 07:17:01,2023-07-26 07:09:12,NaT,NaT,NaT,NaT,NaT,2023-07-26 07:23:33,NaT,...,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,NaT,Front

En el siguiente código cambio el formato de las columnas de tipo "fechas" a "texto/string" y reemplazo los "00:00:00" por espacios vacios.

In [12]:
fichadas_final.columns = fichadas_final.columns.astype(str).str.replace(" 00:00:00", "")

Con el próximo código podemos ver todos los valores por dia donde el indice es "danilo cavassim".

In [13]:
fichadas_final.loc["danilo cavassim"].tail(5)

Día
2023-07-19    2023-07-26 06:18:02
2023-07-20    2023-07-26 06:56:38
2023-07-21    2023-07-26 07:11:22
2023-07-22                    NaT
Sector                      Front
Name: danilo cavassim, dtype: object

Busco el mes actual para agregarlo al nombre de los archivos.

In [14]:
# Establecer la configuración regional en español para que el mes se registre en español
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

# Obtener la fecha actual
fecha_actual = datetime.now()

# Obtener el nombre del mes actual
nombre_mes_actual = fecha_actual.strftime("%B").capitalize()

Creo los distintos archivos según cada sector y hago que se descarguen.

In [15]:
#ARCHIVO GENERAL
nombre_archivo = f"Fichadas Arriba {nombre_mes_actual}.xlsx"
fichadas_final.to_excel(nombre_archivo, index=True)

#ACCOUNT
fichadas_account = fichadas_final[fichadas_final["Sector"] == "Account"]
nombre_account = f"Fichadas Arriba Account {nombre_mes_actual}.xlsx"
fichadas_account.to_excel(nombre_account, index=True)

#Analytics
fichadas_analytics = fichadas_final[fichadas_final["Sector"] == "Analytics"]
nombre_analytics = f"Fichadas Arriba Analytics {nombre_mes_actual}.xlsx"
fichadas_analytics.to_excel(nombre_analytics, index=True)

#BDX
fichadas_BDX = fichadas_final[fichadas_final["Sector"] == "BDX"]
nombre_BDX = f"Fichadas Arriba BDX {nombre_mes_actual}.xlsx"
fichadas_BDX.to_excel(nombre_BDX, index=True)

#Billing
fichadas_Billing = fichadas_final[fichadas_final["Sector"] == "Billing"]
nombre_Billing = f"Fichadas Arriba Billing {nombre_mes_actual}.xlsx"
fichadas_Billing.to_excel(nombre_Billing, index=True)

#Claims
fichadas_Claims = fichadas_final[fichadas_final["Sector"] == "Claims"]
nombre_Claims = f"Fichadas Arriba Claims {nombre_mes_actual}.xlsx"
fichadas_Claims.to_excel(nombre_Claims, index=True)

#Comercial
fichadas_Comercial = fichadas_final[fichadas_final["Sector"] == "Comercial"]
nombre_Comercial = f"Fichadas Arriba Comercial {nombre_mes_actual}.xlsx"
fichadas_Comercial.to_excel(nombre_Comercial, index=True)

#Front
fichadas_Front = fichadas_final[fichadas_final["Sector"] == "Front"]
nombre_Front = f"Fichadas Arriba Front {nombre_mes_actual}.xlsx"
fichadas_Front.to_excel(nombre_Front, index=True)

#Office
fichadas_Office = fichadas_final[fichadas_final["Sector"] == "Office"]
nombre_Office = f"Fichadas Arriba Office {nombre_mes_actual}.xlsx"
fichadas_Office.to_excel(nombre_Office, index=True)

#Pagos
fichadas_Pagos = fichadas_final[fichadas_final["Sector"] == "Pagos"]
nombre_Pagos = f"Fichadas Arriba Pagos {nombre_mes_actual}.xlsx"
fichadas_Pagos.to_excel(nombre_Pagos, index=True)

#Reimbursement
fichadas_Reimbursement = fichadas_final[fichadas_final["Sector"] == "Reimbursement"]
nombre_Reimbursement = f"Fichadas Arriba Reimbursement {nombre_mes_actual}.xlsx"
fichadas_Reimbursement.to_excel(nombre_Reimbursement, index=True)

## Trabajo dentro de cada Excel

Al descargarse todos los Excel abrir los archivos uno por uno y realizar lo siguiente:
- Seleccionar todas las columnas, hacer doble clic sobre la unión entre dos columnas para que estas se ensanchen al ancho necesario para que entre todo el texto en cada una.
- Ver que esten todas las fechas.
- Reemplazar la fecha que aparece en la tabla por espacios en blanco. Por ej: en este caso se nos crea en las celdas "2023-07-10 HORA", se reemplazaría "2023-07-10" por "".

Van a quedar celdas en blanco que se pueden dejar asi o colocar 00:00:00 de la siguiente forma:
- Ir a "Buscar y reemplazar"
- Elegir la opción "Ir a Especial..."
- Buscar la opción "Celdas en blanco"
- Esto te va a seleccionar una celda en blanco. Poner el valor que se quiera poner "00:00:00" o "SIN INGRESO" y tocar **crtl+Enter**